<div class="card">
    <header class="card-header">
      <p class="card-header-title"><%=game.name%></p>
    </header>
    <div class="card-image">
      <figure class="image">
        <img class="logo" src=<%=game.logo%> alt=<%=game.name%>/>                            
      </figure>
    </div>
  </div>