<!DOCTYPE html>
<html lang="en">
    <%- include("./partials/head.ejs") %>
    <body>
        <%- include("./partials/header.ejs") %>
            <main>
                <%for (game of games){%>
                    <div class="card">
                        <div class="card-image">
                          <figure class="image is-4by3">
                            <img
                              src=<%=game.logo%>
                              alt=<%=game.name%>
                            />
                          </figure>
                        </div>
                <%}%>
            </main>
    </body>
</html>