<!DOCTYPE html>
<html lang="en">
    <%- include("./partials/head.ejs") %>
    <body>
      <br>
        <div class="columns is-centered">
          <%- include("./partials/header.ejs") %>
        </div>
      </div>
      <br>
      <main>
        <div class="control">
          <div class="columns is-centered">
            <a href="/games/new"><button class="button is-primary mx-4">Add a Game</button></a>
            <a href="/user/logout"><button class="button is-primary mx-4">LogOut</button></a>
          </div>
          <br>
        </div> 
          <%for (game of games){%>
            <a href="/games/<%=game._id%>">
              <%- include("./partials/card.ejs") %>
            </a>
          <%}%>
      </main>
    </body>
</html>