<!DOCTYPE html>
<html lang="en">
    <%- include("./partials/head.ejs") %>
    <body>
        <br>
        <div class="columns is-centered">
          <%- include("./partials/header.ejs") %>
        </div>  
        <br>
        <main>
            <div>
                <div class="container">
                    <h1 class="title is-4">Add a new Game</h1>
                    <form class="container" action="/games" method="post">
                        <div class="field">
                            <label for="name" class="label">NAME</label>
                            <div class="control">
                               <input id="name" class="input" type="text" name="name" required/>
                            </div>       
                            <p class="help">Please enter the game's name.</p>                    
                        </div>
                        <!--  -->
                        <div class="field">
                            <label for="logo" class="label">LOGO</label>
                            <div class="control">
                               <input id="logo" class="input" type="text" name="logo" required/>
                            </div>       
                            <p class="help">Insert the link to the games logo.</p>                    
                        </div>
                        <!--  -->
                        <div class="field">
                            <label for="mainCharacter" class="label">MAIN CHARACTER</label>
                            <p class="control">
                                <input id="mainCharacter" class="input" type="text" name="mainCharacter">
                            </p>
                            <p class="help">Who is the main character?</p>
                        </div>
                        <!--  -->
                        <div class="field">
                            <label for="consoleType" class="label">CONSOLE TYPE</label>
                            <div class="control">
                              <input id="consoleType" class="input" type="text" name="consoleType">
                            </div>
                            <p class="help">What console can you play this game on? </p>
                        </div>
                        <!--  -->
                        <div class="field">
                            <label class="label">RATING</label>
                        <div class="control" id="radio">
                          <label class="radio">
                            <input type="radio" name="rating" value="E">
                            E
                          </label>
                          <label class="radio">
                            <input type="radio" name="rating" value="E 10">
                            E 10+
                          </label>
                          <label class="radio">
                            <input type="radio" name="rating" value="T">
                            T
                          </label>
                          <label class="radio">
                            <input type="radio" name="rating" value="M">
                            M
                          </label>
                        </div>
                        <!--  -->
                    </div>                       
                    <div class="field">
                        <div class="control">
                            <button class="button is-primary">
                                Add Game
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </main>
    </body>
</html>
