<!DOCTYPE html>
<html lang="en">
    <%- include("../partials/head.ejs") %>
    <body>
        <br>
        <div class="columns is-centered">
          <%- include("../partials/header.ejs") %>
        </div>  
        <br>
        <main>
            <div class="container">
                <div class="columns is-centered">
                    <h1 class="title is-4">User Login</h1>
                </div>

                    <form class="container" action="/user/login" method="post">
                        <div class="field">
                            <div class="columns is-centered">
                                <label for="username" class="label">USERNAME</label>
                            </div>
                            <br>
                            <div class="control">
                                <div class="columns is-centered">
                                    <input name="username" id="username" type="text">
                                </div>
                            </div>
                            <br>
                            <div class="columns is-centered">
                                <label for="username" class="label">Password</label>
                            </div>
                            <br>    
                            <div class="control">
                                <div class="columns is-centered">
                                    <input name="password" id="password" type="text">
                                </div>
                            </div>
                            <br>
                            <div class="field">
                                <div class="control">
                                    <div class="columns is-centered">
                                        <button class="button is-primary">Login</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </main>
    </body>
</html>