<!DOCTYPE html>
<html lang="en">
    <%- include("../partials/head.ejs") %>
    <body>
        <%- include("../partials/header.ejs") %>
        <main>
            <div class="container">
                <h1 class="title is-4">User Login</h1>
                <h2 class="has-text-danger">You have entered the wrong Username or Password. Please try again.</h2>
                <form class="container" action="/user/login" method="post">
                   <div class="field">
                        <label for="username" class="label">USERNAME</label>
                            <div class="control">
                                <input name="username" id="username" type="text">
                            </div>
                        <label for="username" class="label">Password</label>
                            <div class="control">
                                <input name="password" id="password" type="text">
                            </div>
                        <div class="field">
                            <div class="control">
                                <button class="button is-primary">
                                    Login
                                </button>
                            </div>
                        </div>
                    </div>    
                </form>   
            </div>
        </main>
    </body>
</html>