html {
  background-image: url('Background3.jpg');
  background-size: cover; 
  background-position: center;
  background-repeat: no-repeat;
  }
.title{
  display: flex;
  justify-content: center;
  margin-left: 25px;
  margin-right: 25px;
  border: 5px;
  color: rgb(0, 0, 0);
}
.control{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 25px;
  margin-right: 25px;
  border: 5px;
  color: rgb(0, 0, 0);
}
.card{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  max-height: 286px;
  max-width: 400px;
  border: 5px;
  margin-bottom: 30px;
  color: rgb(0, 0, 0);
}
main{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.cardHeader{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: start; 
  align-items: start;
}
.label{
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: rgb(0, 0, 0);
}
.help{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: rgb(0, 0, 0);
}
.input{
  max-width: 469px;
}
.has-background-danger-dark{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 25px;
  margin-right: 25px
}
#radio{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  margin: 5px;
}
.logo{
  max-height: 250px;
  width: 400px !important;
  object-fit: fill;
  min-height: 225px;
}
#edits{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#leaveAlone{
  margin-bottom: 205px;
}
#leaveAlone2{
  margin-bottom: 60px;
}
#leaveAlone3{
  margin-bottom: 60px;
}
#leaveAlone4{
  margin-bottom: 286px;
}
#leaveAlone5{
  margin-bottom: 270px;
}
