/* html {
    background-image: url('Background.jpg');
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;
  } */
.title{
  display: flex;
  justify-content: center;
  margin-left: 25px;
  margin-right: 25px;
  border: 5px;
}
.control{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 25px;
  margin-right: 25px;
  border: 5px;
}
.card{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  max-height: 286px;
  /* min-height: 286px; */
  max-width: 400px;
  border: 5px;
}
main{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.cardHeader{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: start; 
  align-items: start;
}
.label{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.help{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.input{
  max-width: 469px;
}
.has-text-danger{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 25px;
  margin-right: 25px
}
#crdLI{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  max-height: 286px;
  /* min-height: 286px; */
  max-width: 400px;
  border: 5px;
  margin-bottom: 30px;
}
#radio{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-content: center;
  justify-content: space-evenly;
  margin: 5px;
}
/* .image{
  min-height: 400px;
  max-height: 400px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: center;
  justify-content: center;
} */